## Visual Studio / .NET Core / .NET MAUI gitignore
[Ob]j/
[Bb]in/
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser
*.suo
*.user
*.userhost
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]uild/
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Database files generated locally
*.db3
*.db
